---

const {title, description }= Astro.props
---

<figure class="flex flex-col col-span-2 md:col-span-1 xl:col-span-1 items-center justify-center p-8 text-center border-b  rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e bg-gray-900 border-green-500">
    <blockquote class="max-w-2xl mx-auto mb-4 lg:mb-8 text-gray-400">
        <h3 class="text-lg font-semibold text-white">{title}</h3>
        <p class="my-4 text-pretty">{description}</p>
        
    </blockquote> 
</figure>