---
import App from "../icons/App.astro"
---
<footer class="bg-gray-900 rounded-full shadow  m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between px-7">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"> 
                <App class=" size-8 text-lime-400"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Portafolio Web</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-mediumsm:mb-0 text-gray-400">
                <li>
                    <a href="#" class="hover:underline decoration-lime-500 me-4 md:me-6">Inicio</a>
                </li>
                <li>
                    <a href="#Experiencia" class="hover:underline decoration-lime-500 me-4 md:me-6">Experiencia</a>
                </li>
                <li>
                    <a href="#Proyectos" class="hover:underline decoration-lime-500 me-4 md:me-6">Proyectos</a>
                </li>
                <li>
                    <a href="#Sobre_mi" class="hover:underline decoration-lime-500">Sobre mi</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-lime-500 sm:mx-auto  lg:my-8" />
        <span class="block text-sm sm:text-center text-gray-400">© 2024 <a href="/" class="hover:underline decoration-lime-500">Byron</a></span>
    </div>
</footer>


